@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.create-listing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  @include bp.desktop {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/greensfeer-db-dd101.appspot.com/o/trees.jpeg?alt=media&token=334171df-d0f4-40a9-9262-e585dc897712");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: color.$white;
    @include bp.mobile {
      width: 100%;
      height: 100vh;
    }

    @include bp.tablet {
      width: 95rem;
      height: 175rem;
    }

    @include bp.desktop {
      position: relative;
      width: 146rem;
      height: 165.5rem;
      border-radius: 8px;
    }
  }

  &__back-btn {
    position: absolute;

    @include bp.mobile {
      font-size: 6rem;
      top: 2rem;
      left: 2.5rem;
    }

    @include bp.tablet {
      font-size: 8rem;
      top: 6rem;
      left: 2.5rem;
    }

    @include bp.desktop {
      font-size: 8rem;
      top: 2rem;
      left: 2rem;
    }
  }

  &__logo {
    @include bp.mobile {
      margin-bottom: 2.5rem;
    }

    @include bp.tablet {
      margin-bottom: 10rem;
    }

    @include bp.desktop {
      margin-bottom: 3.5rem;
    }
  }

  &__logo-img {
    @include bp.mobile {
      width: 9.25rem;
    }

    @include bp.tablet {
      width: 28rem;
    }

    @include bp.desktop {
      width: 9.25rem;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-align: center;

    @include bp.mobile {
      font-size: 4.5rem;
      width: 62rem;
      margin-bottom: 8rem;
    }

    @include bp.tablet {
      font-size: 5.5rem;
      width: 70rem;
      margin-bottom: 14rem;
    }

    @include bp.desktop {
      font-size: 5rem;
      width: 62rem;
      margin-bottom: 8rem;
    }
  }

  &__img-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include bp.mobile {
      margin-bottom: 5rem;
    }

    @include bp.tablet {
      margin-bottom: 10rem;
    }

    @include bp.desktop {
      margin-bottom: 5rem;
    }
  }

  &__company-logo {
    border: 1.25px solid color.$green;
    border-radius: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include bp.mobile {
      width: 18.25rem;
      height: 15.75rem;
      margin-right: 3rem;
    }

    @include bp.tablet {
      width: 35.5rem;
      height: 18rem;
      margin-right: 7rem;
    }

    @include bp.desktop {
      width: 18.25rem;
      height: 15.75rem;
      margin-right: 3rem;
    }
  }

  &__company-banner {
    @extend .create-listing__company-logo;
    margin-right: 0;
    @include bp.mobile {
      width: 39.25rem;
    }

    @include bp.tablet {
      width: 52rem;
    }

    @include bp.desktop {
      width: 39.25rem;
    }
  }

  &__input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3rem;
  }

  &__label {
    position: absolute;
    background-color: color.$white;
    padding: 0 0.75rem;

    @include bp.mobile {
      top: -2rem;
      left: 2rem;
      font-size: 2.5rem;
    }

    @include bp.tablet {
      top: -2.5rem;
      left: 2rem;
      font-size: 3.2rem;
    }

    @include bp.desktop {
      top: -2rem;
      left: 2rem;
      font-size: 2.5rem;
    }
  }

  &__text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__input-div {
    position: relative;
    border: 1px solid color.$green;
    border-radius: 12rem;
    display: flex;
    align-items: center;
    padding: 0 4rem 0 6rem;

    @include bp.mobile {
      height: 11rem;
      width: 61rem;
      margin-bottom: 4rem;
      &:last-child {
        margin-bottom: 2rem;
      }
    }

    @include bp.tablet {
      height: 15rem;
      width: 100%;
      margin-bottom: 8rem;
      &:last-child {
        margin-bottom: 4rem;
      }
    }

    @include bp.desktop {
      height: 11rem;
      width: 61rem;
      margin-bottom: 4rem;
    }
  }

  &__input-div-textarea {
    @extend .create-listing__input-div;
    border-radius: 5rem;
    height: 30rem;
  }

  &__label-text {
    @extend .create-listing__label;
    @include bp.mobile {
      left: 6rem;
    }

    @include bp.tablet {
      left: 6rem;
    }

    @include bp.desktop {
      left: 6rem;
    }
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    color: color.$nickel;
    background-color: none;

    @include bp.mobile {
      font-size: 3.5rem;
      font-weight: 300;
    }

    @include bp.tablet {
      font-size: 4rem;
      font-weight: 300;
    }

    @include bp.desktop {
      font-size: 3.5rem;
      font-weight: 300;
    }
  }

  &__input-textarea {
    @extend .create-listing__input;
    resize: none;
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
  }

  &__offering {
    @extend .create-listing__input;
    color: color.$charcoal;
  }

  &__price-inputs {
    @extend .create-listing__img-upload;
    margin-bottom: 3.5rem;
  }

  &__currency {
    @extend .create-listing__company-logo;
    padding: 0 2rem;

    @include bp.mobile {
      width: 28.75rem;
    }

    @include bp.tablet {
      width: 30rem;
    }

    @include bp.desktop {
      width: 28.75rem;
    }
  }

  &__price {
    @extend .create-listing__company-banner;
    padding: 0 2rem;
    @include bp.mobile {
      width: 28.75rem;
    }

    @include bp.tablet {
      width: 60rem;
    }

    @include bp.desktop {
      width: 28.75rem;
    }
  }

  &__required-text {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
