@use "../../styles/partials/mixins" as mx;
@use "../../styles/partials/colors.scss" as color;

.posts {
  @include mx.card;
  &__cards {
    display: flex;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include mx.card;
  background-color: color.$white;
  @include mx.card-shadow;
}
