@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  &__error {
    font-size: 3rem;
  }

  &__error {
    font-size: 3rem;
  }

  @include bp.desktop {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/greensfeer-db-dd101.appspot.com/o/trees.jpeg?alt=media&token=334171df-d0f4-40a9-9262-e585dc897712");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: color.$white;
    @include bp.mobile {
      width: 100%;
      height: 100vh;
    }

    @include bp.tablet {
      width: 95rem;
      height: 175rem;
    }

    @include bp.desktop {
      width: 146rem;
      height: 165.5rem;
      border-radius: 8px;
    }
  }

  &__back-btn {
    position: absolute;
    cursor: pointer;

    @include bp.mobile {
      font-size: 6rem;
      top: 2rem;
      left: 2.5rem;
    }

    @include bp.tablet {
      font-size: 8rem;
      top: 6rem;
      left: 2.5rem;
    }

    @include bp.desktop {
      font-size: 8rem;
      top: 2rem;
      left: 2rem;
    }
  }

  &__logo {
    @include bp.mobile {
      margin-bottom: 1.5rem;
    }

    @include bp.tablet {
      margin-bottom: 8rem;
    }

    @include bp.desktop {
      margin-bottom: 3.5rem;
    }
  }

  &__img {
    @include bp.mobile {
      width: 18.5rem;
    }

    @include bp.tablet {
      width: 28rem;
    }

    @include bp.desktop {
      width: 18.5rem;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;

    @include bp.mobile {
      font-size: 6rem;
      margin-bottom: 6rem;
    }

    @include bp.tablet {
      font-size: 8rem;
      margin-bottom: 8rem;
    }

    @include bp.desktop {
      font-size: 6.3rem;
      margin-bottom: 8rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__input-div {
    position: relative;
    border: 1px solid color.$green;
    border-radius: 12rem;
    display: flex;
    align-items: center;
    padding: 0 4rem 0 6rem;

    @include bp.mobile {
      height: 11rem;
      width: 61rem;
      margin-bottom: 4rem;
    }

    @include bp.tablet {
      height: 15rem;
      width: 100%;
      margin-bottom: 8rem;
      &:last-child {
        margin-bottom: 4rem;
      }
    }

    @include bp.desktop {
      height: 11rem;
      width: 61rem;
      margin-bottom: 4rem;
    }
  }

  &__label {
    position: absolute;
    background-color: color.$white;
    padding: 0 0.75rem;

    @include bp.mobile {
      top: -2rem;
      left: 6rem;
      font-size: 2.5rem;
    }

    @include bp.tablet {
      top: -2.5rem;
      left: 6rem;
      font-size: 3.2rem;
    }

    @include bp.desktop {
      top: -2rem;
      left: 6rem;
      font-size: 2.5rem;
    }
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;
    color: color.$nickel;
    background-color: none;

    @include bp.mobile {
      font-size: 3.5rem;
      font-weight: 300;
    }

    @include bp.tablet {
      font-size: 4rem;
      font-weight: 300;
    }

    @include bp.desktop {
      font-size: 3.5rem;
      font-weight: 300;
    }
  }

  &__preferences {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include bp.mobile {
      width: 50rem;
      margin-bottom: 1rem;
    }

    @include bp.tablet {
      width: 75rem;
      margin-bottom: 12rem;
    }

    @include bp.desktop {
      width: 50rem;
      margin-bottom: 1rem;
    }
  }

  &__boxes {
    display: flex;
    align-items: center;

    @include bp.mobile {
      margin-bottom: 1.5rem;
    }

    @include bp.tablet {
      margin-bottom: 2rem;
    }

    @include bp.desktop {
      margin-bottom: 1.5rem;
    }
  }

  &__boxes-push {
    @extend .register__boxes;
    width: 100%;
  }

  &__label-checkbox {
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 300;
    color: color.$romansilver;
  }

  &__button {
    border-radius: 15rem;
    border: none;
    background-color: color.$green;
    color: color.$black;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 300;

    @include bp.mobile {
      padding: 0 6rem;
      height: 12rem;
      font-size: 6.5rem;
    }

    @include bp.tablet {
      width: 61rem;
      height: 15rem;
      font-size: 6.5rem;
    }

    @include bp.desktop {
      width: auto;
      padding: 0 6rem;
      height: 12rem;
      font-size: 6.5rem;
    }

    &:hover {
      background-color: color.$black;
      color: color.$white;
    }
  }

  &__link {
    margin-top: 1rem;
    text-decoration: none;
    color: color.$green;
    font-size: 2.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
