@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.marketplace-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__searchbar {
    width: 70%;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.5rem 2.5rem;
    border: 1px solid color.$charcoal;
    border-radius: 50px;
  }

  &__btn-icon {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }

  &__btn-text {
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
