@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.marketplace-list {
  display: flex;
  flex-direction: column;

  @include bp.mobile {
    width: 100%;
  }

  @include bp.tablet {
    width: 40%;
  }

  @include bp.desktop {
    width: 40%;
  }
}
