@use "../../main.scss";
@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.member-profile-container {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;

  @include bp.mobile {
    margin-top: 13rem;
    margin-bottom: 15rem;
    padding: 0rem 3.5rem 0 3.5rem;
  }

  @include bp.tablet {
    margin-top: 13.4rem;
    padding: 0rem 7rem 0 7rem;
  }

  @include bp.desktop {
    margin-top: 13.4rem;
    padding: 0rem 10rem 0 10rem;
    justify-content: center;
    align-items: center;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid color.$black;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid color.$green;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
