@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.btn {
  text-decoration: none;
  margin: 0;
  white-space: nowrap;
  outline: none;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include bp.mobile {
    font-size: 3.5rem;
    max-width: 30rem;
    padding: 2.5rem 4rem;
  }

  @include bp.tablet {
    font-size: 4rem;
    max-width: 37rem;
    padding: 2.5rem 5.5rem;
  }

  @include bp.desktop {
    font-size: 4rem;
    max-width: 40rem;
    padding: 2.5rem 5.5rem;
  }

  &--dark {
    color: color.$black;
    background-color: color.$green;
    &:hover {
      background-color: color.$white;
      transition: all 0.2s ease-in-out;
    }
  }

  &--light {
    color: color.$white;
    background-color: color.$black;
    &:hover {
      background-color: color.$green;
      transition: all 0.2s ease-in-out;
    }
  }
}
