@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.filter-parameter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid color.$charcoal;
  border-radius: 10rem;
  padding: 2rem 4rem 2.5rem 4rem;
  min-width: 25rem;
  font-size: 3.75rem;
  // margin-right: 3rem;
  white-space: nowrap;

  &__icon {
    font-size: 4rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.25rem;
    justify-content: center;
  }
}
