/* Primary Colors */
/* From Pallete */
/* Secondary Colors */
/* From Pallete 2*/
/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
.create-company {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .create-company {
    background-image: url("../../assets/images/trees.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .create-company::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.create-company__error {
  font-size: 4rem;
}
.create-company__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .create-company__form {
    width: 100%;
    height: 100vh;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__form {
    width: 95rem;
    height: 175rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__form {
    position: relative;
    width: 146rem;
    height: 165.5rem;
    border-radius: 8px;
  }
}
.create-company__back-btn {
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .create-company__back-btn {
    font-size: 6rem;
    top: 2rem;
    left: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__back-btn {
    font-size: 8rem;
    top: 6rem;
    left: 2.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__back-btn {
    font-size: 8rem;
    top: 2rem;
    left: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .create-company__logo {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__logo {
    margin-bottom: 10rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__logo {
    margin-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .create-company__logo-img {
    width: 9.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__logo-img {
    width: 28rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__logo-img {
    width: 9.25rem;
  }
}
.create-company__heading, .create-company__heading-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .create-company__heading, .create-company__heading-search {
    font-size: 4.5rem;
    width: 62rem;
    margin-bottom: 8rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__heading, .create-company__heading-search {
    font-size: 5.5rem;
    width: 70rem;
    margin-bottom: 14rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__heading, .create-company__heading-search {
    font-size: 5rem;
    width: 62rem;
    margin-bottom: 8rem;
  }
}
.create-company__heading-search {
  margin-bottom: 20rem;
}
.create-company__input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
}
.create-company__img-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .create-company__img-upload {
    margin-bottom: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__img-upload {
    margin-bottom: 10rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__img-upload {
    margin-bottom: 5rem;
  }
}
.create-company__company-logo, .create-company__company-banner {
  border: 1.25px solid #01bf71;
  border-radius: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .create-company__company-logo, .create-company__company-banner {
    width: 18.25rem;
    height: 15.75rem;
    margin-right: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__company-logo, .create-company__company-banner {
    width: 35.5rem;
    height: 18rem;
    margin-right: 7rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__company-logo, .create-company__company-banner {
    width: 18.25rem;
    height: 15.75rem;
    margin-right: 3rem;
  }
}
.create-company__upload-check {
  position: absolute;
  color: #01bf71;
  font-size: 4.5rem;
  top: -2.85rem;
  right: -1.75rem;
}
.create-company__label, .create-company__label-text {
  position: absolute;
  background-color: #ffffff;
  padding: 0 0.75rem;
}
@media only screen and (max-width: 767px) {
  .create-company__label, .create-company__label-text {
    top: -2rem;
    left: 2rem;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__label, .create-company__label-text {
    top: -2.5rem;
    left: 2rem;
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__label, .create-company__label-text {
    top: -2rem;
    left: 2rem;
    font-size: 2.5rem;
  }
}
.create-company__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12rem;
  width: 9.75rem;
}
.create-company__input-file {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.create-company__company-banner {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .create-company__company-banner {
    width: 39.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__company-banner {
    width: 52rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__company-banner {
    width: 39.25rem;
  }
}
.create-company__text-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.create-company__input-div, .create-company__input-offering {
  position: relative;
  border: 1px solid #01bf71;
  border-radius: 12rem;
  display: flex;
  align-items: center;
  padding: 0 4rem 0 6rem;
}
@media only screen and (max-width: 767px) {
  .create-company__input-div, .create-company__input-offering {
    height: 11rem;
    width: 61rem;
    margin-bottom: 4rem;
  }
  .create-company__input-div:last-child, .create-company__input-offering:last-child {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__input-div, .create-company__input-offering {
    height: 15rem;
    width: 100%;
    margin-bottom: 8rem;
  }
  .create-company__input-div:last-child, .create-company__input-offering:last-child {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__input-div, .create-company__input-offering {
    height: 11rem;
    width: 61rem;
    margin-bottom: 4rem;
  }
}
.create-company__input-offering {
  width: 72.7rem;
}
@media only screen and (max-width: 767px) {
  .create-company__label-text {
    left: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__label-text {
    left: 6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__label-text {
    left: 6rem;
  }
}
.create-company__input, .create-company__offering {
  width: 100%;
  border: none;
  outline: none;
  color: #6d7275;
  background-color: none;
}
@media only screen and (max-width: 767px) {
  .create-company__input, .create-company__offering {
    font-size: 3.5rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__input, .create-company__offering {
    font-size: 4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__input, .create-company__offering {
    font-size: 3.5rem;
    font-weight: 300;
  }
}
.create-company__search-icon {
  display: flex;
  align-items: center;
  color: #6d7275;
  margin-right: 1.25rem;
}
@media only screen and (max-width: 767px) {
  .create-company__search-icon {
    font-size: 3.5rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__search-icon {
    font-size: 4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__search-icon {
    font-size: 3.5rem;
    font-weight: 300;
  }
}
.create-company__affiliate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #373f51;
  color: #373f51;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.create-company__affiliate-btn:hover {
  background-color: aliceblue;
}
@media only screen and (max-width: 767px) {
  .create-company__affiliate-btn {
    margin-top: 2rem;
    height: 20rem;
    width: 60rem;
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__affiliate-btn {
    height: 20rem;
    width: 60rem;
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__affiliate-btn {
    height: 20rem;
    width: 60rem;
    padding: 2rem 4rem;
  }
}
.create-company__affiliate-text {
  font-size: 4rem;
}
.create-company__offering {
  color: #373f51;
}
@media only screen and (max-width: 767px) {
  .create-company__required-text {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__required-text {
    font-size: 3rem;
    margin-bottom: 4.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__required-text {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
}
.create-company__preferences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .create-company__preferences {
    width: 70rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__preferences {
    width: 75rem;
    margin-bottom: 11rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__preferences {
    width: 70rem;
    margin-bottom: 3rem;
  }
}
.create-company__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .create-company__boxes {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .create-company__boxes {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .create-company__boxes {
    margin-bottom: 1.5rem;
  }
}
.create-company__checkbox {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
}
.create-company__label-checkbox {
  width: 51rem;
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: 300;
  color: #828a95;
}
.create-company__controls, .create-company__controls-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-company__controls-search {
  margin-top: 20rem;
}/*# sourceMappingURL=CreateCompany.css.map */