@use "./colors.scss" as color;
@mixin card {
  background-color: color.$mint;
  max-width: 100%;
  @include rounded-border();
}

@mixin round-image {
  border-radius: 50%;
}

@mixin rounded-border {
  border-radius: 0.625rem;
}
