/* Primary Colors */
$green: #01bf71;
$white: #ffffff;
/* From Pallete */
$green-b: #00c9a6;
$black: #07020d;
$darkgray: #343138;
$lightgray: #faeaff;
$white-b: #fcf8ff;
$footer-blue: #0e0e11;
$gray: rgb(175, 171, 171);
/* Secondary Colors */
/* From Pallete 2*/
$green2: #00c896;
$black2: #070707;
$darkgray2: #343434;
$lightgray2: #f2ecff;
$white2: #faf8ff;

$charcoal: #373f51;
$quenblue: #4c6085;
$lightsteelblue: #a9bcd0;
$nickel: #6d7275;
$eerieblack: #1b1b1e;
$romansilver: #828a95;
$ghostwhite: #ecebf3;
$Isabelline: #f4f3ee;
$darkcornflowerblue: #1e3888;
$darkjunglegreen: #181f1c;
$alabaster: #f1e9db;
