@use "../../styles/partials/mixins" as mx;

.affiliations {
  @include mx.card;
  &__cards {
    display: flex;
  }
}

.connection {
  &__pic {
    @include mx.round-image;
    max-height: 18rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}
