@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.marketplace-select {
  display: flex;
  flex-direction: column;

  @include bp.mobile {
    width: 100%;
    padding-top: 2.75rem;
  }

  @include bp.tablet {
    width: 58%;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 16rem;
    padding-bottom: 30rem;

    &::-webkit-scrollbar {
      width: 5px;
      height: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
    }
  }

  @include bp.desktop {
    width: 58%;
    overflow-y: scroll;
    padding-top: 17rem;
    padding-bottom: 23rem;
    margin-bottom: 15rem;
    &::-webkit-scrollbar {
      width: 5px;
      height: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    background-color: color.$mint;
    width: 100%;
    border-radius: 2.5rem;
    margin-bottom: 3rem;
    color: color.$darkgray2;
  }

  &__banner {
    width: 100%;

    @include bp.mobile {
      margin-bottom: 2rem;
      position: relative;
    }

    @include bp.tablet {
      margin-bottom: 2rem;
    }

    @include bp.desktop {
      margin-bottom: 3rem;
    }
  }

  &__img {
    width: 100%;
    border-radius: 2.5rem;
  }

  &__back {
    @include bp.mobile {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      color: rgba(255, 255, 255, 0.803);
      font-size: 6rem;
      width: 7rem;
      height: 6rem;
      padding-right: 0.4rem;
    }

    @include bp.tablet {
      display: none;
    }

    @include bp.desktop {
      display: none;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    @include bp.mobile {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.tablet {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.desktop {
      margin: 0 3rem 6rem 3rem;
    }
  }

  &__ep-type {
    font-weight: 300;

    @include bp.mobile {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }

    @include bp.tablet {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }

    @include bp.desktop {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
  }

  &__post-name {
    font-weight: 500;

    @include bp.mobile {
      font-size: 5.8rem;
      margin-bottom: 1.5rem;
    }

    @include bp.tablet {
      font-size: 5.8rem;
      margin-bottom: 1.5rem;
    }

    @include bp.desktop {
      font-size: 6rem;
      margin-bottom: 1.5rem;
    }
  }

  &__company {
    display: flex;
    align-items: center;

    @include bp.mobile {
      margin-bottom: 1rem;
    }

    @include bp.tablet {
      margin-bottom: 1rem;
    }

    @include bp.desktop {
      margin-bottom: 1rem;
    }
  }

  &__company-name {
    font-weight: 400;

    @include bp.mobile {
      font-size: 4rem;
    }

    @include bp.tablet {
      font-size: 4rem;
    }

    @include bp.desktop {
      font-size: 4.5rem;
    }
  }

  &__company-verified {
    display: flex;
    align-items: center;
    color: color.$green;

    @include bp.mobile {
      font-size: 4.5rem;
      margin-left: 2rem;
    }

    @include bp.tablet {
      font-size: 4.5rem;
      margin-left: 2rem;
    }

    @include bp.desktop {
      font-size: 4.5rem;
      margin-left: 2rem;
    }
  }

  &__verified-icon {
    display: flex;
    align-items: center;

    @include bp.mobile {
      margin-left: 2rem;
      width: 4rem;
    }

    @include bp.tablet {
      margin-left: 2rem;
      width: 4rem;
    }

    @include bp.desktop {
      margin-left: 2.5rem;
      width: 4.5rem;
    }
  }

  &__location {
    font-weight: 600;
    color: color.$green;

    @include bp.mobile {
      font-size: 3.5rem;
      margin-bottom: 0.75rem;
    }

    @include bp.tablet {
      font-size: 3.5rem;
      margin-bottom: 0.75rem;
    }
    @include bp.desktop {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
  }

  &__date-listed {
    font-weight: 300;
    color: color.$nickel;

    @include bp.mobile {
      font-size: 3rem;
    }

    @include bp.tablet {
      font-size: 3rem;
    }

    @include bp.desktop {
      font-size: 3rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;

    @include bp.mobile {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.tablet {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.desktop {
      margin: 0 3rem 6rem 3rem;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }

  &__description-text {
    font-size: 4rem;
    font-weight: 300;
    color: color.$darkgray2;
  }

  &__goals {
    display: flex;
    flex-direction: column;
    @include bp.mobile {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.tablet {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.desktop {
      margin: 0 3rem 6rem 3rem;
    }
  }

  &__goals-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__goal {
    margin-right: 3rem;
    margin-bottom: 3rem;
  }

  &__goal-icon {
    width: 18rem;
    border-radius: 2.5rem;
  }

  &__certifications {
    @include bp.mobile {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.tablet {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.desktop {
      margin: 0 3rem 6rem 3rem;
    }
  }

  &__certifications-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__certification {
    white-space: nowrap;
    border: 1px solid color.$brightgreen;
    background-color: color.$brightgreen;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-bottom: 2rem;

    white-space: nowrap; /* Prevents text from wrapping to new lines */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds an ellipsis at the end of the truncated text */
  }

  &__photos {
    @include bp.mobile {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.tablet {
      margin: 0 2rem 6rem 2rem;
    }

    @include bp.desktop {
      margin: 0 3rem 6rem 3rem;
    }
  }

  &__photos-display {
    display: flex;
    justify-content: center;
  }

  &__photo {
    display: flex;
    justify-content: center;
  }

  &__photo-img {
    width: 90%;
    border-radius: 2.5rem;
  }
}
