@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.network-container {
  height: 100vh;
  position: relative;
}
.network-nav-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.network {
  padding: 3rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;

  &__contacts {
    display: flex;
    flex-direction: column;
    //margin-bottom: 3rem;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 500;
    color: color.$darkgray2;
    margin-bottom: 1rem;
  }
}
