/* Primary Colors */
/* From Pallete */
/* Secondary Colors */
/* From Pallete 2*/
/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
.appnav {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
}
.appnav__wrapper {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .appnav__wrapper {
    justify-content: space-between;
    padding: 2.5rem 3.5rem 2rem 3.5rem;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .appnav__wrapper {
    justify-content: space-between;
    padding: 2.5rem 6.5rem 2rem 6.5rem;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .appnav__wrapper {
    justify-content: space-between;
    padding: 2.5rem 9.5rem 2rem 9.5rem;
    width: 100%;
    max-width: 1099px;
  }
}
.appnav__search {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .appnav__search {
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .appnav__search {
    width: 72%;
  }
}
@media only screen and (min-width: 1024px) {
  .appnav__search {
    width: 72%;
  }
}
.appnav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appnav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .appnav__link {
    position: relative;
  }
}
.appnav__img {
  border-radius: 10rem;
}
@media only screen and (max-width: 767px) {
  .appnav__img {
    width: 9rem;
    height: 9rem;
  }
}
@media only screen and (min-width: 768px) {
  .appnav__img {
    width: 9rem;
    height: 9rem;
  }
}
@media only screen and (min-width: 1024px) {
  .appnav__img {
    width: 9.5rem;
    height: 9.5rem;
  }
}
.appnav__display-picture {
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .appnav__display-picture {
    width: 9rem;
    height: 9rem;
  }
}
@media only screen and (min-width: 768px) {
  .appnav__display-picture {
    width: 9rem;
    height: 9rem;
  }
}
@media only screen and (min-width: 1024px) {
  .appnav__display-picture {
    width: 9.25rem;
    height: 9.25rem;
  }
}
.appnav__icon, .appnav__icon-newmsg {
  color: #373f51;
  max-width: 8.75rem;
  max-height: 8.75rem;
  border-radius: 10rem;
  aspect-ratio: 1;
}
@media only screen and (max-width: 767px) {
  .appnav__icon, .appnav__icon-newmsg {
    font-size: 8.75rem;
  }
}
@media only screen and (min-width: 768px) {
  .appnav__icon, .appnav__icon-newmsg {
    font-size: 8.75rem;
  }
}
@media only screen and (min-width: 1024px) {
  .appnav__icon, .appnav__icon-newmsg {
    font-size: 9rem;
  }
}
.appnav__icon-newmsg {
  font-size: 6rem;
}
.appnav__user-menu {
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .appnav__user-menu {
    top: 14rem;
    right: 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .appnav__user-menu {
    right: -1rem;
    top: 12.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .appnav__user-menu {
    right: -1rem;
    top: 12.5rem;
  }
}
.appnav__searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}/*# sourceMappingURL=AppNav.css.map */