/* Primary Colors */
/* From Pallete */
/* Secondary Colors */
/* From Pallete 2*/
/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 24, 44, 0.7);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  transition: all 0.2s ease-in-out;
}
.edit-modal__card {
  position: relative;
  background-color: #ffffff;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .edit-modal__card {
    padding: 4rem 5rem;
    width: 92%;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__card {
    padding: 8rem 8rem 4rem 8rem;
    max-width: 120rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__card {
    padding: 8rem 8rem 4rem 8rem;
    width: 100%;
  }
}
.edit-modal__close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color: #343434;
}
@media only screen and (max-width: 767px) {
  .edit-modal__close {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__close {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__close {
    font-size: 6rem;
  }
}
.edit-modal__title, .edit-modal__title-aff {
  color: #343434;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .edit-modal__title, .edit-modal__title-aff {
    font-size: 5rem;
    margin-bottom: 8rem;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__title, .edit-modal__title-aff {
    font-size: 5rem;
    margin-bottom: 8rem;
  }
}
.edit-modal__input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3rem;
}
.edit-modal__img-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .edit-modal__img-upload {
    margin-bottom: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__img-upload {
    margin-bottom: 10rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__img-upload {
    margin-bottom: 5rem;
  }
}
.edit-modal__pic1, .edit-modal__pic2 {
  border: 1.25px solid #01bf71;
  border-radius: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .edit-modal__pic1, .edit-modal__pic2 {
    width: 31%;
    min-width: 20rem;
    height: 15.75rem;
    margin-right: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__pic1, .edit-modal__pic2 {
    width: 35.5rem;
    height: 18rem;
    margin-right: 7rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__pic1, .edit-modal__pic2 {
    width: 31%;
    height: 15.75rem;
    margin-right: 3rem;
  }
}
.edit-modal__upload-check {
  position: absolute;
  color: #01bf71;
  font-size: 4.5rem;
  top: -2.85rem;
  right: -1.75rem;
}
.edit-modal__label, .edit-modal__label-text {
  position: absolute;
  background-color: #ffffff;
  padding: 0 0.75rem;
}
@media only screen and (max-width: 767px) {
  .edit-modal__label, .edit-modal__label-text {
    top: -2rem;
    left: 2rem;
    font-size: 2.5rem;
    overflow: auto;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__label, .edit-modal__label-text {
    top: -2.5rem;
    left: 2rem;
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__label, .edit-modal__label-text {
    top: -2rem;
    left: 2rem;
    font-size: 2.5rem;
  }
}
.edit-modal__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12rem;
  width: 9.75rem;
}
.edit-modal__input-file {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 20rem;
}
.edit-modal__pic2 {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .edit-modal__pic2 {
    width: 69%;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__pic2 {
    width: 52rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__pic2 {
    width: 69%;
  }
}
.edit-modal__input, .edit-modal__input-textarea {
  width: 100%;
  border: none;
  outline: none;
  color: #6d7275;
  background-color: none;
}
@media only screen and (max-width: 767px) {
  .edit-modal__input, .edit-modal__input-textarea {
    font-size: 3.5rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__input, .edit-modal__input-textarea {
    font-size: 4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__input, .edit-modal__input-textarea {
    font-size: 3.5rem;
    font-weight: 300;
  }
}
.edit-modal__text-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.edit-modal__input-div, .edit-modal__input-div-textarea {
  position: relative;
  border: 1px solid #01bf71;
  border-radius: 12rem;
  display: flex;
  align-items: center;
  padding: 0 4rem 0 6rem;
}
@media only screen and (max-width: 767px) {
  .edit-modal__input-div, .edit-modal__input-div-textarea {
    height: 11rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  .edit-modal__input-div:last-child, .edit-modal__input-div-textarea:last-child {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__input-div, .edit-modal__input-div-textarea {
    height: 15rem;
    width: 100%;
    margin-bottom: 8rem;
  }
  .edit-modal__input-div:last-child, .edit-modal__input-div-textarea:last-child {
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__input-div, .edit-modal__input-div-textarea {
    height: 11rem;
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 767px) {
  .edit-modal__label-text {
    left: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__label-text {
    left: 6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__label-text {
    left: 6rem;
  }
}
.edit-modal__title-aff {
  margin-bottom: 4rem;
}
.edit-modal__my-aff {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.edit-modal__sub-title {
  color: #343434;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.edit-modal__aff-display {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.edit-modal__aff-card {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 3rem 1rem;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .edit-modal__aff-card {
    width: 85rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__aff-card {
    margin-bottom: 2rem;
    width: 100%;
  }
}
.edit-modal__aff-logo {
  width: 18rem;
  height: 18rem;
  margin-right: 3rem;
}
.edit-modal__aff-name {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.edit-modal__aff-since {
  font-size: 3.5rem;
  font-weight: 400;
}
.edit-modal__aff-delete {
  position: absolute;
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 300;
  color: #343434;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .edit-modal__aff-delete {
    bottom: 0rem;
    right: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__aff-delete {
    bottom: 2rem;
    right: 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__aff-delete {
    bottom: 3rem;
    right: 5rem;
  }
}
.edit-modal__aff-delete:hover {
  color: #01bf71;
}
.edit-modal__aff-add {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.edit-modal__aff-add-icon {
  border: 1px solid #01bf71;
  border-radius: 5rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15rem;
  color: #373f51;
  margin-bottom: 2rem;
}
.edit-modal__required-text {
  display: flex;
  justify-content: flex-end;
}
.edit-modal__controls {
  display: flex;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .edit-modal__controls {
    margin-top: 5rem;
    margin-bottom: 1rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__controls {
    margin-top: 6.5rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__controls {
    margin-top: 6.5rem;
    margin-bottom: 2rem;
    justify-content: space-between;
  }
}
.edit-modal__input-div-textarea {
  border-radius: 5rem;
}
@media only screen and (max-width: 767px) {
  .edit-modal__input-div-textarea {
    width: 100%;
    height: 60rem;
  }
}
@media only screen and (min-width: 768px) {
  .edit-modal__input-div-textarea {
    height: 80rem;
    width: 100rem;
  }
}
@media only screen and (min-width: 1024px) {
  .edit-modal__input-div-textarea {
    height: 55rem;
    width: 100rem;
  }
}
.edit-modal__input-textarea {
  resize: none;
  width: 95%;
  height: 80%;
  display: flex;
  align-items: center;
}
.edit-modal__characters {
  color: #828a95;
  font-weight: 300;
}/*# sourceMappingURL=EditModal.css.map */