@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.logo {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: null;
  width: 47rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__icon {
    width: 10rem;
  }

  &__text {
    color: color.$green;
    font-weight: 700;
    font-size: 6rem;
  }

  &__beta {
    position: absolute;
    bottom: -1.5rem;
    right: 0;
    color: color.$romansilver;
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 500;
  }
}
