@use "../../styles/partials/mixins" as mx;
@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 24, 44, 0.7);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    background-color: color.$white;
    border-radius: 2.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  &__close {
    align-self: flex-end;
  }
  &__text {
    @include bp.mobile {
      font-size: 4rem;
    }
    @include bp.tablet {
      font-size: 5rem;
    }
  }
}
