@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.search {
  border: 0.25rem solid color.$charcoal;
  height: 9rem;
  width: 94%;
  border-radius: 15rem;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;

  &__icon {
    font-size: 4rem;
    color: color.$charcoal;
    margin-right: 0.75rem;
  }
  &__input {
    border: none;
    outline: none;
    font-size: 3.5rem;
    font-weight: 300;
    width: 100%;
    color: color.$charcoal;
    ::placeholder {
      color: color.$charcoal;
    }
  }
}
