@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.search {
  border: 0.25rem solid color.$charcoal;
  height: 9rem;
  border-radius: 15rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;

  @include bp.mobile {
    width: 94%;
  }
  @include bp.tablet {
    width: 78%;
  }
  @include bp.desktop {
    width: 92%;
  }

  &__icon {
    font-size: 4rem;
    color: color.$charcoal;
    margin-right: 0.75rem;
  }
  &__input {
    border: none;
    outline: none;
    font-size: 3.5rem;
    font-weight: 300;
    width: 100%;
    color: color.$charcoal;
    ::placeholder {
      color: color.$charcoal;
    }
  }
}
