@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.nav-container {
  background-color: color.$black;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  width: 100%;
  padding: 0 6rem;
  max-width: 275rem;

  &__icon-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5rem;
    cursor: pointer;
    background: transparent;
    outline: none;

    @include bp.desktop {
      display: none;
    }
  }

  &__icon {
    color: color.$green;
  }

  ul {
    list-style-type: none !important;
  }

  ul::marker {
    content: none !important;
  }

  &__links {
    @include bp.mobile {
      display: none;
    }

    @include bp.tablet {
      display: none;
    }

    @include bp.desktop {
      margin: 0;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      width: 141rem;
      min-width: 110rem;
    }
  }

  &__links-item {
    height: 20rem;
    color: color.$white;
  }

  &__links-a {
    text-decoration: none;
    @include bp.desktop {
      font-size: 4rem;
      color: color.$white;
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      color: color.$green;
      transition: all 0.2s ease-in-out;
    }

    &.active {
      transition: all 0.02s ease-in-out;
      border-bottom: 3.5px solid color.$green;
      color: color.$green;
    }
  }

  &__btn {
    @include bp.mobile {
      display: none;
    }

    @include bp.tablet {
      display: none;
    }

    @include bp.desktop {
      display: flex;
      align-items: center;
      width: 57rem;
      justify-content: space-between;
    }
  }

  &__btn-reg {
    text-decoration: none;
    color: color.$green;
    font-size: 4rem;
    font-weight: 500;
    background-color: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5rem 5.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: color.$green;
      color: color.$black;
      transition: all 0.2s ease-in-out;
    }
  }

  &__btn-in {
    text-decoration: none;
    font-weight: 500;
    color: color.$green;
    font-size: 4rem;
    background-color: color.$black;
    border: 1.5px solid color.$green;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5rem 5.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    // &:hover {
    //   transition: all 0.2s ease-in-out;
    //   box-shadow: rgba(1, 191, 112, 0.171) 0px 30px 60px -12px inset,
    //     rgba(1, 191, 112, 0.448) 0px 18px 36px -18px inset;
    // }
    &:hover {
      background-color: #00ff9525;
      color: color.$green;
      transition: all 0.2s ease-in-out;
    }
  }
}
