@use "../../styles/partials/mixins" as mx;

.header {
  @include mx.card;
  &__banner {
    @include mx.card;
    @include mx.rounded-border;
  }
}
.user {
  display: flex;
  flex-direction: row;
  &__photo {
    @include mx.round-image;
    height: 18rem;
  }
}
