@use "../../styles/partials/mixins" as mx;
@use "../../styles/partials/colors" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.header {
  // @include mx.card;
  background-color: color.$mint;
  max-width: 100%;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;

  &__banner {
    // @include mx.card;
    background-color: color.$mint;
    max-width: 100%;
    border-radius: 0rem 0rem 2.5rem 2.5rem;
  }

  &__details {
    padding: 1.5rem;
    display: flex;
  }

  &__photo {
    // @include mx.round-image;
    border-radius: 50%;
    position: relative;
    width: 19.5rem;
    height: 19.5rem;
    margin-right: 2rem;
  }

  &__photo-icon {
    @extend .header__photo;
    font-size: 19.5rem;
    color: color.$charcoal;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: color.$darkgray2;
  }

  &__name {
    margin: 0;
    font-size: 4.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__headline {
    margin: 0;
    font-size: 3.3rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
  }

  &__location {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
  }

  &__connections {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: color.$green;
  }
}
