@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.chatroom {
  position: relative;

  &__header {
    height: 12rem;
    padding: 0rem 2.3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: color.$white;
    display: flex;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__return {
    font-size: 7rem;
    color: color.$darkgray2;
    display: flex;
    align-items: center;
  }

  &__addressee {
    margin: 0 2rem;
    width: 100%;
  }

  &__name {
    font-size: 4.3rem;
    font-weight: 500;
    color: color.$darkgray2;
  }

  &__details {
    font-size: 2.7rem;
    color: color.$darkgray2;
  }

  &__options {
    font-size: 7rem;
    color: color.$darkgray2;
    display: flex;
    align-items: center;
  }

  &__messages {
    margin-top: 12rem;
    padding: 3rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items to the top of the container */
    align-items: flex-start; /* align items to the left side of the container */
    z-index: 0;
  }

  &__text {
    font-size: 3rem;
    padding: 2rem 3rem;
    border-radius: 15rem;
    margin-bottom: 2.5rem;
  }

  &__received {
    background-color: color.$mint;
    margin-right: auto; /* push received messages to the left side */
  }

  &__sent {
    background-color: rgb(232, 234, 237);
    margin-left: auto; /* push sent messages to the right side */
  }

  &__footer {
    height: 15rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.3rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: color.$white;
  }

  &__icon {
    font-size: 7rem;
    color: color.$darkgray2;
  }

  &__textbox {
    border: 0.2rem solid color.$nickel;
    height: 7rem;
    width: 100%;
    margin: 0 3rem;
    border-radius: 15rem;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
  }

  &__input {
    border: none;
    outline: none;
    font-size: 3.5rem;
    font-weight: 300;
    width: 100%;
  }
}
