/* Primary Colors */
/* From Pallete */
/* Secondary Colors */
/* From Pallete 2*/
/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
.search-dropdown {
  position: absolute;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 767px) {
  .search-dropdown {
    top: 13rem;
    left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .search-dropdown {
    top: 17rem;
    left: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .search-dropdown {
    width: 100%;
    top: 13rem;
    left: 0;
    right: 0;
  }
}
.search-dropdown__link {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #eef6ef;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-decoration: none;
}
.search-dropdown__link:last-child {
  border-bottom: none;
  padding-bottom: 2rem;
}
.search-dropdown__photo {
  display: flex;
  align-items: center;
  color: #373f51;
  margin-right: 2rem;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .search-dropdown__photo {
    font-size: 10rem;
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
  }
}
@media only screen and (min-width: 768px) {
  .search-dropdown__photo {
    font-size: 12rem;
    min-width: 12rem;
    width: 12rem;
    height: 12rem;
  }
}
@media only screen and (min-width: 1024px) {
  .search-dropdown__photo {
    font-size: 12rem;
    width: 12rem;
    height: 12rem;
  }
}
.search-dropdown__photo-img {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 2rem;
}
@media only screen and (max-width: 767px) {
  .search-dropdown__photo-img {
    width: 10rem;
  }
}
@media only screen and (min-width: 768px) {
  .search-dropdown__photo-img {
    width: 12rem;
  }
}
@media only screen and (max-width: 767px) {
  .search-dropdown__photo-img {
    width: 12rem;
  }
}
.search-dropdown__text {
  display: flex;
  align-items: center;
}
.search-dropdown__name {
  color: #343434;
  font-weight: 500;
  white-space: nowrap; /* Prevents text from wrapping to new lines */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds an ellipsis at the end of the truncated text */
}
@media only screen and (max-width: 767px) {
  .search-dropdown__name {
    font-size: 3.75rem;
    max-width: 28rem;
  }
}
@media only screen and (min-width: 768px) {
  .search-dropdown__name {
    font-size: 4rem;
    max-width: 45rem;
  }
}
@media only screen and (min-width: 1024px) {
  .search-dropdown__name {
    max-width: 28rem;
    font-size: 4rem;
  }
}
.search-dropdown__separator {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  font-size: 3rem;
  color: #828a95;
}
.search-dropdown__headline, .search-dropdown__listing-type {
  color: #6d7275;
  font-weight: 300;
  white-space: nowrap; /* Prevents text from wrapping to new lines */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds an ellipsis at the end of the truncated text */
}
@media only screen and (max-width: 767px) {
  .search-dropdown__headline, .search-dropdown__listing-type {
    font-size: 3.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .search-dropdown__headline, .search-dropdown__listing-type {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .search-dropdown__headline, .search-dropdown__listing-type {
    font-size: 3.75rem;
  }
}/*# sourceMappingURL=SearchDropdown.css.map */