/* Primary Colors */
/* From Pallete */
/* Secondary Colors */
/* From Pallete 2*/
/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
.marketplace-card {
  display: flex;
  justify-content: space-between;
  background-color: #eef6ef;
  width: 100%;
  border-radius: 2.5rem;
  cursor: pointer;
  color: #343434;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .marketplace-card {
    margin-bottom: 3rem;
    padding: 3rem 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card {
    margin-bottom: 3rem;
    padding: 3rem 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card {
    margin-bottom: 3rem;
    padding: 3rem 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.marketplace-card__details {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .marketplace-card__details {
    width: 65%;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card__details {
    width: 65%;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card__details {
    width: 65%;
  }
}
.marketplace-card__post-type {
  font-weight: 300;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 767px) {
  .marketplace-card__post-type {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card__post-type {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card__post-type {
    font-size: 3rem;
  }
}
.marketplace-card__post-name {
  font-weight: 500;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 767px) {
  .marketplace-card__post-name {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card__post-name {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card__post-name {
    font-size: 4.2rem;
  }
}
.marketplace-card__company-name {
  font-weight: 400;
  margin-bottom: 0.8rem;
}
@media only screen and (max-width: 767px) {
  .marketplace-card__company-name {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card__company-name {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card__company-name {
    font-size: 3.4rem;
  }
}
.marketplace-card__location {
  font-weight: 500;
  color: #01bf71;
}
@media only screen and (max-width: 767px) {
  .marketplace-card__location {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card__location {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card__location {
    font-size: 2.8rem;
  }
}
.marketplace-card__markers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .marketplace-card__markers {
    width: 33%;
    max-width: 33rem;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card__markers {
    width: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card__markers {
    width: 30%;
  }
}
.marketplace-card__badges {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.marketplace-card__badge {
  border-radius: 5px;
  background-color: rgb(197, 234, 195);
}
@media only screen and (max-width: 767px) {
  .marketplace-card__badge {
    width: 6rem;
    height: 6rem;
    min-width: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card__badge {
    width: 6rem;
    height: 6rem;
    min-width: 6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card__badge {
    width: 6rem;
    height: 6rem;
    min-width: 6rem;
  }
}
.marketplace-card__price {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .marketplace-card__price {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .marketplace-card__price {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .marketplace-card__price {
    font-size: 4rem;
  }
}/*# sourceMappingURL=MarketplaceCard.css.map */