@use "../../styles/partials/colors.scss" as color;
@use "../../styles/partials/breakpoints.scss" as bp;

.control-btn {
  text-decoration: none;
  margin: 0;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.2s ease-in-out;

  &__icon {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;

    @include bp.mobile {
      font-size: 5.75rem;
    }

    @include bp.tablet {
      font-size: 5rem;
    }

    @include bp.desktop {
      font-size: 5.75rem;
    }
  }

  &__text {
    margin: 0 auto;
  }

  @include bp.mobile {
    font-size: 5.5rem;
    padding: 1.5rem 4.5rem;
  }

  @include bp.tablet {
    font-size: 5rem;
    max-width: 37rem;
    padding: 3rem 6rem;
  }

  @include bp.desktop {
    font-size: 5.5rem;
    padding: 1.5rem 4.5rem;
  }

  &--green {
    color: color.$black;
    background-color: color.$green;
  }

  &--black {
    color: color.$white;
    background-color: color.$black;

    @include bp.mobile {
      margin-right: 2rem;
    }

    @include bp.tablet {
      margin-right: 6rem;
    }

    @include bp.desktop {
      margin-right: 2rem;
    }
  }
}
