@use "./styles/partials/fonts.scss";
@use "./styles/partials/colors.scss" as color;
html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", "Montserrat Alternates", sans-serif;
  font-size: 4px;
  background-color: color.$white;
  color: color.$darkgray2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
input,
select,
textarea,
button {
  font-family: inherit;
  cursor: pointer;
}
